name: Daily Auto Commit

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Make change
        run: |
          echo "Auto commit on $(date)" >> data.txt

      - name: Commit and Push
        run: |
          git config user.name "Shubham"
          git config user.email "shubhamsharmaa5aug@gmail.com"
          git add .
          git commit -m "Daily auto commit" || echo "No changes to commit"
          git push origin main
